@import '@fontsource/fira-mono';

:root {
  --scale-0: 0;
  --scale-1: .75rem;
  --scale-2: .75rem;
  --scale-3: 1rem;
  --scale-4: 1.25rem;
  --scale-5: 1.5rem;
  --scale-6: 1.75rem;
  --scale-7: 2rem;
  --scale-8: 2.25rem;
  --scale-9: 2.5rem;

  --scale-lh: calc(2ex + 4px);

  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

	--font-mono: 'Fira Mono', monospace;

	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: salmon;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 75rem;
	--column-margin-top: 4rem;

  --white: #ffffff;
  --light: #e9eff2;
  --dark: #111111;
  --mid-dark: #333333;
  --red: #e2444c;
  --light-pink: #faeeef;
  --dark-blue: #020265;
  --mid-blue: #4b8dee;
  --light-blue: #cff;

  --bg-1: var(--light);
  --bg-2: var(--light-blue);
  --bg-3: var(--white);
  --text-1: var(--dark);
  --text-2: var(--mid-dark);
  --accent-1: var(--mid-blue);
  --accent-2: var(--light-pink);
}

.dark {
  --bg-1: var(--dark);
  --bg-2: var(--mid-dark);
  --bg-3: var(--dark-blue);
  --text-1: var(--light);
  --text-2: var(--light-blue);
  --accent-1: var(--red);
  --accent-2: var(--light-pink);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--bg-1);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial, sans-serif;
}


html {
    font-size: 16px;
  }

  body {
    line-height: var(--scale-lh), calc(2ex + 4px);
  }

  .hljs-attr {
    margin-left: 3rem;
  }

  .tailwind-config .hljs-string:nth-of-type(3n+1) {
    margin-left: 6.5rem;
  }

  pre {
    padding: 0;
  }

/* body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--bg-3) 100%
	);
	opacity: 0.05;
} */

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	font-weight: 700;
	color: var(--text-1);
  font-family: var(--font-mono);
}

p {
  color: var(--text-1);
	line-height: var(--scale-lh);
  font-weight: 400;
}

a {
	color: var(--accent-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: var(--scale-7);
	text-align: center;
}

h2 {
	font-size: var(--scale-4);
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: var(--bg-1);
	color: var(--text-1);
	border-radius: 3px;
	padding: 0.5em;
	overflow-x: auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

label {
  color: var(--text-1);
}

input {
  background-color: var(--bg-1);
  color: var(--text-1);
}

button:focus:not(:focus-visible) {
	outline: none;
}
